---
################
# Create Stack #
################
- hosts: localhost
  vars_files:
    - "vars/config.yml"
    
  tasks:
    - include: tasks/vpc.yml
    - include: tasks/ec2_key.yml
    - include: tasks/stack.yml
